:root{
    --white: #fff;
    --black: #202C36;
    --blue: #2B3844;
}

.container{
    width: 1440px;
    margin: 0px auto;
    padding: 0px 20px;
    color: black;
}


.hero-div{
    margin-top: 48px;
}

.hero-input{
    width: 480px;
    margin-left: 80px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 74px;
    font-weight: 400;
    font-size: 14px;    
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 9px 0px grey;    
    background-color: white var(--blue);   
}

.hero-searchdiv{
    position: relative;
    margin-bottom: 48px;
}


.hero-countrydiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 80px;
}

.hero-select{
    width: 200px;
    margin-left: 525px;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 24px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 1px 9px 0px grey;
    
    background-color: white var(--blue);
    color: black var(--white);
}

.hero-searchimg{
    position: absolute;
    margin-left: 112px;
    margin-top: 19px;
    color: var(--white);
}


@media only screen and (max-width:376px){

.container{
    width: 100%;
    margin: 0px auto;
    padding: 0px 16px;
}


.hero-div{
    margin-top: 24px;
}

.hero-input{
    width: 243px;
    margin-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 74px;
    font-weight: 400;
    font-size: 12px;    
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 9px 0px grey;    
    background-color: white var(--blue);
}

.hero-searchimg{
    position: absolute;
    margin-left: 32px;
    margin-top: 15px;
    color: var(--white);
}


.hero-select{
    width: 200px;
    margin-left: 0px;
    margin-top: 40px;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 24px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0px 1px 9px 0px grey;    
    background-color: white var(--blue);
    color: black var(--white);
}


.hero-searchdiv{
    position: relative;
    margin-bottom: 32px;
}


.hero-countrydiv{
    display: block;   
    margin-right: 0px;
}

}